{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">

<ul class="topnav" style="background-color: #3a55ec;border-radius:10px;">
    <li><p style="width:100px; color:white">shop logo </p></li>
    <li><p style="width:400px; color:white">Shop Name</p></li>
    <li><a href="{% url 'accountant' %}" class={{home}}>Home</a></li>
    <li><a href="{% url 'bill' %}" class={{new}}>Add new</a></li>
    <li><a href="{% url 'accountantstocksAvailable' %}" class={{stocks}}>Stocks</a></li>
    <li><a class={{analysis}}>Analysis</a></li>
    <li><a href="{% url 'logout' %}" class={{logout}}>LogOut</a></li>
</ul>
<br><br>